#nav {
    background-color: black;
}
body {
    background-color: blue;
}

.nav-link {
    color: orange !important;
    font-weight: 900 !important;
}

#read_more {
    background-color: orange !important;
}
.article-section {
    margin-top: 100px;
}

